SSP/eclipse-workspace/Temp/src/main/webapp/wsdl/temp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://temp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://temp" xmlns:intf="http://temp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://temp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="toFahrenheit">
    <complexType>
     <sequence>
      <element name="temp" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="toFahrenheitResponse">
    <complexType>
     <sequence>
      <element name="toFahrenheitReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="toCelsius">
    <complexType>
     <sequence>
      <element name="temp" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="toCelsiusResponse">
    <complexType>
     <sequence>
      <element name="toCelsiusReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="toFahrenheitRequest">

      <wsdl:part element="impl:toFahrenheit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toCelsiusResponse">

      <wsdl:part element="impl:toCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toCelsiusRequest">

      <wsdl:part element="impl:toCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toFahrenheitResponse">

      <wsdl:part element="impl:toFahrenheitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="temp">

      <wsdl:operation name="toFahrenheit">

         <wsdl:input message="impl:toFahrenheitRequest" name="toFahrenheitRequest">

       </wsdl:input>

         <wsdl:output message="impl:toFahrenheitResponse" name="toFahrenheitResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toCelsius">

         <wsdl:input message="impl:toCelsiusRequest" name="toCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:toCelsiusResponse" name="toCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tempSoapBinding" type="impl:temp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="toFahrenheit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toFahrenheitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toFahrenheitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="tempService">

      <wsdl:port binding="impl:tempSoapBinding" name="temp">

         <wsdlsoap:address location="http://localhost:8081/Temp/services/temp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
